body {
	margin: 40px auto;
	max-width: 900px;
	font-family:'Avenir', 'Helvetica', 'Arial', 'Sans-Serif';
}

div.container {
	margin: 0px 20px;
}

hr {
	border: 0;
  height: 0.5px;
  background: #d5d5d5;
}

h1 {
	font-size: 3em;
	font-weight: normal;
}

p {
	font-size: 1.25em;
	line-height: 1.4em;
	color: #555;
	overflow: hidden;
}

li {
	font-size: 1.25em;
}

a {
	text-decoration: none;
	font-weight: 500;
	color: #000;
}

a:hover {
	border-bottom: 1px solid #333;
}

blockquote {
	font-size: 1.25em;
	border-left: 2px #999 solid;
	padding: 0.0em 15px;
	color: #999;
	overflow: hidden;
}

footer {
	border-top: 1px solid #d5d5d5;
}

footer p {
	font-size: .7em;
	text-align: center;
	color: #999;
	margin-top: 5px;
}

nav ul, footer ul {
	padding: 0px;
	list-style: none;
	font-weight: bold;
}

nav ul li, footer ul li {
	display: inline;
	margin-right: 20px;
	font-size: 1.0em;
}

ul.posts {
	margin: 20px auto 40px;
	font-size: 1.5em;
}

ul.posts li {
	list-style: none;
}

.post-title {
	margin-bottom: 10px;
}

.post-meta {
	margin-top: 10px;
	margin-bottom: 10px;
}

/* --- Retina stuff --- */

@media
(-webkit-min-device-pixel-ratio: 2){
	footer {
		border-top: 0.5px solid #d5d5d5;
	}

	a:hover {
		border-bottom: 0.5px solid #333;
	}
}
