.dl-table {
  a {
    @supports ((text-decoration-thickness: initial) and (text-underline-offset: initial)) {
      text-underline-offset: .8rem;
    }
    @supports not ((text-decoration-thickness: initial) and (text-underline-offset: initial)) {
      padding-bottom: .45rem;
    }
  }

  .btn, .gumroad-button  {
    margin: 1rem 0;
  }
}

.bibliography {
  list-style: none;
}

.btn-primary {
  background-color: #ffffff;
  border: 1px solid #07967f;
  color: #07967f;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 10px;
}

.btn-primary::after{
  color: #07967f;
}

.btn-primary:hover {
  background-color: #07967f;
  border: 1px solid #07967f;
  color: #ffffff;
}

.btn-secondary {
  background-color: #ffffff;
  border: 1px solid #8e8e8e;
  color: #8e8e8e;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 10px;
}

.btn-secondary:hover {
  background-color: #8e8e8e;
  border: 1px solid #8e8e8e;
  color: #ffffff;
}

.badge-primary {
  background-color: #07967f;
  color: #ffffff;
  padding: 0px 10px;
  text-align: center;
  border-radius: 25px;
}

.badge-warning {
  background-color: #c3c542;
  color: #ffffff;
  padding: 0px 10px;
  text-align: center;
  border-radius: 25px;
}

.badge-danger {
  background-color: #797979;
  color: #ffffff;
  padding: 0px 10px;
  text-align: center;
  border-radius: 25px;
}

.badge-info {
  background-color: #188abc;
  color: #ffffff;
  padding: 0px 10px;
  text-align: center;
  border-radius: 25px;
}