<h3 style="margin: 10px 0px -25px;">{{entry.title}}</h3>
{% assign num_fa = entry.first_author_range | times: 1 %}
<br/>
{% assign i = 0 %}
{% for author in entry.author_array %}
{% if author.first == "Stephan" and author.last == "Rabanser" %} <span style="text-decoration: underline;">{% else %} <span> {% endif %}
{{author.first}} {{author.last}}</span>{% if i < num_fa %}*{% endif %}{% unless forloop.last %},{% endunless %}
{% assign i = i | plus:1 %}
{% endfor %}
<br/>
{% if entry.type == "article" %}
    <em>{{entry.journal}}</em>
{% elsif entry.type == "inproceedings" %}
    <em>In {{entry.booktitle}}</em>
{% endif %}
({{entry.year}})
{% if entry.pub_type == "Conference" or  entry.pub_type == "Journal" %}
<span class="badge-primary">{{entry.pub_type}}</span>
{% elsif entry.pub_type == "Workshop" %}
<span class="badge-warning">{{entry.pub_type}}</span>
{% elsif entry.pub_type == "Thesis" %}
<span class="badge-dark">{{entry.pub_type}}</span>
{% endif %}
{% if entry.journal contains "arXiv" or entry.pub_type == "Preprint"%}
<span class="badge-danger">Preprint</span>
{% endif %}
{% if entry.pub_note %}
<span class="badge-info">{{entry.pub_note}}</span>
{% endif %}
<br/>

<p>
    {% if entry.paper_url%}
    <a class="btn btn-primary btn-sm" href="{{ entry.paper_url }}" target="_blank">Paper</a>
    {% endif %}
    {% if entry.poster_url %}
    <a class="btn btn-secondary btn-sm" href="{{ entry.poster_url }}" target="_blank">Poster</a>
    {% endif %}
    {% if entry.slides_url %}
    <a class="btn btn-secondary btn-sm" href="{{ entry.slides_url }}" target="_blank">Slides</a>
    {% endif %}
    {% if entry.video_url %}
    <a class="btn btn-secondary btn-sm" href="{{ entry.video_url }}" target="_blank">Video</a>
    {% endif %}
    {% if entry.code_url %}
    <a class="btn btn-secondary btn-sm" href="{{ entry.code_url }}" target="_blank">Code</a>
    {% endif %}
    {% if entry.blog_url %}
    <a class="btn btn-secondary btn-sm" href="{{ entry.blog_url }}" target="_blank">Blog Post</a>
    {% endif %}
</p>

<hr/>