<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<link rel="stylesheet" type="text/css" href="/main.css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script type="text/x-mathjax-config">
		  MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
		</script>
		<script type="text/javascript" async
		  src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_CHTML">
		</script>
	</head>
	<body>
		<div class="container">
			<nav>
				<ul>
					<li><a href="/"><b>steverab.com</b></a></li>
					<li><a href="mailto:steve@steverab.com">Email</a></li>
					<li><a href="/blog/">Blog</a></li>
					<li><a href="/assets/resume.pdf">R&eacute;sum&eacute;</a></li>
					<li><a href="https://scholar.google.de/citations?user=Bfg1XBQAAAAJ&hl=en">Google Scholar</a></li>
				</ul>
			</nav>
			{{ content }}
		</div><!-- /.container -->
		<footer>
			<p>&copy; <script>document.write(new Date().getFullYear())</script> Stephan Rabanser</p>
		</footer>
	</body>
</html>
