<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<link rel="stylesheet" type="text/css" href="/main.css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
		<div class="container">
			<nav>
				<ul>
					<li><a href="/"><b>steverab.com</b></a></li>
					<li><a href="mailto:steve@steverab.com">email</a></li>
					<li><a href="/blog/">blog</a></li>
					<li><a href="/assets/resume.pdf">r&eacute;sum&eacute;</a></li>
				</ul>
			</nav>
			{{ content }}
		</div><!-- /.container -->
		<footer>
			<p>&copy; <script>document.write(new Date().getFullYear())</script> Stephan Rabanser</p>
		</footer>
	</body>
</html>
